@font-face {
    font-family: "Blood"; 
    src: url("../fonts/Zombies.ttf");
}

.text{
    font-family: "Blood" !important;
    font-size: 11em;
}

@media (max-width: 1000px) {   

    .container{
        margin-left: 0 !important;
        margin-right: 0 !important;
        max-width: 100% !important;
        max-height: 100% !important;
    }

    #home{
        font-size: 3em !important;
    }
    
    .container .text{        
        font-size: 17em !important
    }    

    #key,
    #copy,
    .versoes{
        font-size: 4em;
    }

}