body {
    background-image: url("../img/background-home.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #212529;
}

@media (max-width: 1000px) {
    body{
        background-image: url("../img/home-mobile.png");
        background-size: cover;
    }    

    #fckvalor,
    #theyrdead{
        font-size: 3em;
    }
}